.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--background);
  z-index: 999;
}

.headerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--base-size) * 0.8) 0;
  width: 100%;
}

.headerLogo {
  flex-shrink: 0;
  width: calc(var(--base-size) * 15.5);
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--base-size) * 1.8);
  flex-shrink: 0;
}


.selectWrapper {
  width: calc(var(--base-size) * 12);
}
